<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <title>HaiNgocPro</title>
</head>
<body>
<form action="addProduct" method="post"> 
  <div class="form-group">
    <label for="usr">NameProduct:</label>
    <input name= "product" type="text" class="form-control" id="usr">
  </div>
  <div class="form-group">
    <label for="pwd">Price:</label>
    <input name= "price" type="number" class="form-control" id="pwd">
    <button type="submit" class="btn btn-primary" value="insert">Submit</button>
  </div>
</form>
</body>
</html>